@model IEnumerable<MicrogreensWebsite.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<br></br>
<p>
    <a asp-action="Create">
        <input type="submit" class="btn btn-success text-dark" value="Add Category">
    </a>
</p>
<table class="table text-dark table-hover" style=" border: 1px solid black; border-radius: 10px;">
    <thead>
        <tr style="background-color:lightgreen ">
            <th style=" border: 1px solid black; border-radius: 10px;">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th >
            <th style=" border: 1px solid black; border-radius: 10px;">
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th style=" border: 1px solid black; border-radius: 10px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-dark">
            <td style=" border: 1px solid black; border-radius: 10px;">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td style=" border: 1px solid black; border-radius: 10px;">
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td style=" border: 1px solid black; border-radius: 10px;">
                <a asp-action="Edit" asp-route-id="@item.CategoryID">
                        <input type="submit" class="btn btn-success" value="Edit">
                </a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">
                        <input type="submit" class="btn btn-success" value="Details">
                </a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">
                        <input type="submit" class="btn btn-success" value="Delete">
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
